.hourly-forecast-section {
    max-width: min(1000px, 90%);
    margin: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cards-container {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.hourly-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(209, 209, 209, 0.2);
    box-shadow: 0 0 4px 1px black;
    border-radius: 1rem;
    padding: 1rem 1.8rem;
    transition: all 0.5s;
}

.hourly-card:hover {
    background-color: rgba(209, 209, 209, 0.3);
}

.hourly-card > p:last-child {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.hourly-card svg {
    width: 18px;
    pointer-events: none;
}

.nav-arrow {
    cursor: pointer;
    transform: scale(1.8);
}

.nav-arrow:hover {
    transform: scale(2);
}

.arrow-button {
    background-color: rgba(255, 255, 255, 0);
}